
Customer Relationship Management (CRM) - RFM/Tai Le Thanh - Customer360 RFM Report 20240329.docx
Customer Relationship Management (CRM) - RFM/Tai Le Thanh - Planning 20240329.xlsx
ETL Data with Python - FPT user behavior/Raw Data/
ETL Data with Python - FPT user behavior/Data.zip
/ETL Data with Python - FPT user behavior/Data
Bao cao tai chinh - Ke toan/240508 Data.zip
