
Customer Relationship Management (CRM) - RFM/Tai Le Thanh - Customer360 RFM Report 20240329.docx
Customer Relationship Management (CRM) - RFM/Tai Le Thanh - Planning 20240329.xlsx
ETL Data with Python/Data.zip
ETL Data with Python/Raw Data/